<title>Se connecter | Stage-Direct
</title>

{% block stylesheets %}
	<link href="/css/perso.css" rel="stylesheet">
	<link href="/css/tailwind.min.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
	<script src="/css/tailwind.js"></script>
	{% block importmap %}
		{{ importmap('app') }}
	{% endblock %}
{% endblock %}

{% block body %}

	<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center mx-auto md:h-screen lg:py-0">
        <a href="{{ path('app_index') }}" class="flex justify-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            <img class="w-1/2 mx-auto" src="{{ asset('images/stage2.png') }}" alt="logo">
        </a>

        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8 text-center">
                
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="reussite">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Se connecter
                </h1>

                <form method="post" class="space-y-4">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div>
                            Vous êtes connecté en tant que <strong>{{ app.user.userIdentifier }}</strong>,
                            <a href="{{ path('app_logout') }}" class="text-blue-600 hover:underline">Se déconnecter</a>
                        </div>
                    {% endif %}

                    <div class="text-left">
                        <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                        <input type="email" value="{{ last_username }}" name="_username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" autocomplete="email" required autofocus>
                    </div>

                    <div class="text-left">
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mot de passe</label>
                        <input type="password" name="_password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" autocomplete="current-password" required>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="flex flex-col items-center">
  <button class="w-full max-w-xs flex justify-center items-center bg-blue-500 text-white border-2 border-blue-500 font-semibold rounded-lg text-sm px-6 py-3 transition-all duration-300 ease-in-out hover:bg-blue-600 hover:border-blue-600 shadow-md hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
    Se connecter
</button>




</div>

                </form>

                <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                    Pas encore de compte ?
                    <a href="{{ path('app_user_new') }}" class="font-medium text-blue-600 hover:underline dark:text-blue-500">Créer un compte ici</a>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
