{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
    <h1>Student index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th><a href="{{ path('app_student_index', {sort: 'firstname', direction: sort == 'firstname' and direction == 'asc' ? 'desc' : 'asc'}) }}">Prénom</a></th>
                <th><a href="{{ path('app_student_index', {sort: 'lastname', direction: sort == 'lastname' and direction == 'asc' ? 'desc' : 'asc'}) }}">Nom</a></th>
                <th><a href="{{ path('app_student_index', {sort: 'address', direction: sort == 'address' and direction == 'asc' ? 'desc' : 'asc'}) }}">Adresse</a></th>
                <th><a href="{{ path('app_student_index', {sort: 'zipcode', direction: sort == 'zipcode' and direction == 'asc' ? 'desc' : 'asc'}) }}">Code Postale</a></th>
                <th><a href="{{ path('app_student_index', {sort: 'town', direction: sort == 'town' and direction == 'asc' ? 'desc' : 'asc'}) }}">Ville</a></th>
                <th>École(s)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.firstname }}</td>
                <td>{{ student.lastname }}</td>
                <td>{{ student.address }}</td>
                <td>{{ student.zipcode }}</td>
                <td>{{ student.town }}</td>
                <td>
                    {% for school in student.schools %}
                        {{ school.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                 <td>
                    <a class="btn btn-info" href="{{ path('app_student_show', {'id': student.id}) }}"><img src="icons/check2.svg"></a>
                    <a class="btn btn-warning" href="{{ path('app_student_edit', {'id': student.id}) }}"><img src="icons/pencil-fill.svg"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_student_new') }}"><img src="icons/plus-lg.svg"> Ajouter</a>
{% endblock %}
