{% block form %}
    {{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}
    <div class="space-y-4">
        {{ form_row(form.name, {
            'attr': {'class': 'px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none'},
            'label_attr': {'class': 'mb-2 text-sm font-medium text-gray-700'},
            'label': 'Nom'
        }) }}
        {{ form_errors(form.name) }}

        {{ form_row(form.address, {
            'attr': {'class': 'px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none'},
            'label_attr': {'class': 'mb-2 text-sm font-medium text-gray-700'},
            'label': 'Adresse'
        }) }}
        {{ form_errors(form.address) }}

        {{ form_row(form.zipcode, {
            'attr': {'class': 'px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none'},
            'label_attr': {'class': 'mb-2 text-sm font-medium text-gray-700'},
            'label': 'Code Postal'
        }) }}
        {{ form_errors(form.zipcode) }}

        {{ form_row(form.city, {
            'attr': {'class': 'px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none'},
            'label_attr': {'class': 'mb-2 text-sm font-medium text-gray-700'},
            'label': 'Ville'
        }) }}
        {{ form_errors(form.city) }}

        {{ form_row(form.phone, {
            'attr': {'class': 'px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none'},
            'label_attr': {'class': 'mb-2 text-sm font-medium text-gray-700'},
            'label': 'Téléphone'
        }) }}
        {{ form_errors(form.phone) }}

        {{ form_row(form.email, {
            'attr': {'class': 'px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none'},
            'label_attr': {'class': 'mb-2 text-sm font-medium text-gray-700'},
            'label': 'Email'
        }) }}
        {{ form_errors(form.email) }}

        <!-- Classes -->
        <div class="space-y-2">
            <label class="text-gray-700 font-medium">Classes</label>
            <div class="flex flex-wrap gap-4">
                {{ form_widget(form.grades, {
                    'attr': {'class': 'px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none'},
                    'label_attr': {'class': 'mb-2 text-sm font-medium text-gray-700'}
                }) }}
            </div>
        </div>

        <!-- Classes Facultatives -->
        <div class="space-y-2">
            <label class="text-gray-700 font-medium">Ajouter des Classes (facultatif)</label>
            <div class="flex flex-wrap gap-4">
                {{ form_widget(form.newGrade) }}
            </div>
        </div>

        <button type="button" class="bg-blue-500 text-white py-2 px-4 rounded" id="add-class-button">Ajouter une classe</button>

        <div class="mt-4">
            <button type="submit" class="inline-block px-6 py-2 text-white bg-blue-600 hover:bg-blue-700 rounded-lg font-medium">
                Sauvegarder
            </button>
        </div>
    </div>

    {{ form_end(form) }}

    <script>
    let i = 0;

    document.getElementById('add-class-button').addEventListener('click', function() {
    i++;
    const newField = document.createElement('input');
    newField.type = 'text';
    newField.name = 'school[newGrade]['+i+']'; // Correspond au champ CollectionType du formulaire
    newField.classList.add('px-4', 'py-2', 'border', 'border-gray-300', 'rounded-lg', 'focus:ring-2', 'focus:ring-blue-500', 'focus:outline-none');
    document.querySelector('.flex.flex-wrap.gap-4').appendChild(newField);
});

    </script>
{% endblock %}
