{% extends 'base.html.twig' %}

{% block title %}School index{% endblock %}

{% block body %}
    <h1>School index</h1>
    {% set i = 0 %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Adresse</th>
                <th scope="col">Code postale</th>
                <th scope="col">Villes</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for school in schools %}
        {% set i = i + 1%}
            <tr>
                <th scope="row">{{ i }}</th>
                <td>{{ school.id }}</td>
                <td>{{ school.name }}</td>
                <td>{{ school.address }}</td>
                <td>{{ school.zipcode }}</td>
                <td>{{ school.town }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('app_school_show', {'id': school.id}) }}"><img src="/icons/check2.svg"></a>
                    <a class="btn btn-warning" href="{{ path('app_school_edit', {'id': school.id}) }}"><img src="/icons/pencil-fill.svg"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_school_new') }}"  ><img src="/icons/plus-lg.svg">Ajouter</a>
{% endblock %}
