{{ form_start(form) }}

<div class="mb-6">
    {{ form_label(form.email, null, {'label_attr': {'class': 'text-white text-sm font-medium mb-2 text-center'}}) }}
    {{ form_widget(form.email, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 '}}) }}
</div>
<div class="mb-6">
    {{ form_label(form.password, null, {'label_attr': {'class': 'text-white text-sm font-medium mb-2 text-center'}}) }}
    {{ form_widget(form.password, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 '}}) }}
</div>
<div class="mb-6">
    {{ form_label(form.phone, null, {'label_attr': {'class': 'text-white text-sm font-medium mb-2 text-center'}}) }}
    {{ form_widget(form.phone, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 '}}) }}
</div>
<div class="mb-6">
    {{ form_label(form.firstName, null, {'label_attr': {'class': 'text-white text-sm font-medium mb-2 text-center'}}) }}
    {{ form_widget(form.firstName, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 '}}) }}
</div>

<div class="mb-6">
    {{ form_label(form.lastName, null, {'label_attr': {'class': 'text-white text-sm font-medium mb-2 text-center'}}) }}
    {{ form_widget(form.lastName, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 '}}) }}
</div>

<div class="mb-6">
    {{ form_label(form.birthDate, null, {'label_attr': {'class': 'text-white text-sm font-medium mb-2 text-center'}}) }}
    {{ form_widget(form.birthDate, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 '}}) }}
</div>

<div class="mb-6">
    {{ form_label(form.address, null, {'label_attr': {'class': 'text-white text-sm font-medium mb-2 text-center'}}) }}
    {{ form_widget(form.address, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 '}}) }}
</div>

<div class="mb-6">
    {{ form_label(form.postalCode, null, {'label_attr': {'class': 'text-white text-sm font-medium mb-2 text-center'}}) }}
    {{ form_widget(form.postalCode, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
</div>

<div class="mb-6">
    {{ form_label(form.city, null, {'label_attr': {'class': 'text-white text-sm font-medium mb-2 text-center'}}) }}
    {{ form_widget(form.city, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
</div>
<div class="mb-6">
    {{ form_label(form.grade, null, {'label_attr': {'class': 'text-white text-sm font-medium mb-2 text-center'}}) }}
    {{ form_widget(form.grade, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
</div>
{% if is_granted('ROLE_ADMIN') %}
<div class="mb-6 text-center">
    <div class="relative">
        <button id="roles-dropdown" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
            Choisir un rôle
            <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
        </button>

        <div id="roles-dropdown-menu" class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600 absolute mt-1">
            <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200">
                {% for role in form.roles %}
                    <li>
                        <div class="flex items-center">
                            {{ form_widget(role, {'attr': {'class': 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500'}}) }}
                            {{ form_label(role, null, {'label_attr': {'class': 'ms-2 text-sm font-medium text-gray-900 dark:text-gray-300'}}) }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script>
    // Dropdown toggle logic
    document.getElementById('roles-dropdown').addEventListener('click', function() {
        let dropdownMenu = document.getElementById('roles-dropdown-menu');
        dropdownMenu.classList.toggle('hidden');
    });

    // Close dropdown when clicking outside
    window.addEventListener('click', function(event) {
        let dropdown = document.getElementById('roles-dropdown-menu');
        let button = document.getElementById('roles-dropdown');
        if (!button.contains(event.target) && !dropdown.contains(event.target)) {
            dropdown.classList.add('hidden');
        }
    });
</script>
{% endif %}


<div class="flex justify-center items-center">
    <button class="w-full max-w-xs flex justify-center items-center bg-blue-500 text-white border-2 border-blue-500 font-semibold rounded-lg text-sm px-6 py-3 transition-all duration-300 ease-in-out hover:bg-blue-600 hover:border-blue-600 shadow-md hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
        {{ button_label|default('Créer votre compte') }}
    </button>
</div>

{{ form_end(form) }}
