{% extends 'base.html.twig' %}

{% block title %}Détails de l'Utilisateur{% endblock %}

{% set roleNames = {
    'ROLE_SUPER_ADMIN': 'Super Administrateur',
    'ROLE_ADMIN': 'Administrateur',
    'ROLE_TEACHER': 'Professeur',
    'ROLE_STUDENT': 'Étudiant',
    'ROLE_USER': 'Utilisateur'
} %}
{% set roleHierarchy = ['ROLE_USER', 'ROLE_STUDENT', 'ROLE_TEACHER', 'ROLE_ADMIN'] %}

{% block body %}
<div class="container mx-auto p-6">
    <h1 class="text-4xl font-extrabold mb-8 text-center">Détails de l'Utilisateur</h1>
    
    <div class="w-full max-w-4xl rounded-lg shadow md:mt-0 sm:max-w-4xl mx-auto bg-white">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <table class="w-full text-sm border border-gray-300 rounded-lg bg-white">
                <tbody>
                    <tr class="border-b">
                        <th class="py-3 px-6 text-left bg-gray-50 font-medium">Id</th>
                        <td class="py-3 px-6">{{ user.id }}</td>
                    </tr>
                    <tr class="border-b">
                        <th class="py-3 px-6 text-left bg-gray-50 font-medium">Prénom</th>
                        <td class="py-3 px-6">{{ user.firstName }}</td>
                    </tr>
                    <tr class="border-b">
                        <th class="py-3 px-6 text-left bg-gray-50 font-medium">Nom</th>
                        <td class="py-3 px-6">{{ user.lastName }}</td>
                    </tr>
                    <tr class="border-b">
                        <th class="py-3 px-6 text-left bg-gray-50 font-medium">Classe</th>
                        <td class="py-3 px-6">
                            {% if user.grade is not empty %}
                                {{ user.grade|map(g => g.classname)|join(', ') }}
                            {% else %}
                                Aucune classe
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="border-b">
                        <th class="py-3 px-6 text-left bg-gray-50 font-medium">Email</th>
                        <td class="py-3 px-6">{{ user.email }}</td>
                    </tr>
                    <tr class="border-b">
                        <th class="py-3 px-6 text-left bg-gray-50 font-medium">Numéro de téléphone</th>
                        <td class="py-3 px-6">{{ user.phone }}</td>
                    </tr>
                    <tr class="border-b">
                        <th class="py-3 px-6 text-left bg-gray-50 font-medium">Rôles</th>
                        <td class="py-3 px-6">{{ roleNames[highestRole] ?? highestRole }}</td>
                    </tr>
                    <tr class="border-b">
                        <th class="py-3 px-6 text-left bg-gray-50 font-medium">Date de naissance</th>
                        <td class="py-3 px-6">{{ user.birthDate ? user.birthDate|date('d/m/Y') : '' }}</td>
                    </tr>
                    <tr class="border-b">
                        <th class="py-3 px-6 text-left bg-gray-50 font-medium">Adresse</th>
                        <td class="py-3 px-6">{{ user.address }}</td>
                    </tr>
                    <tr class="border-b">
                        <th class="py-3 px-6 text-left bg-gray-50 font-medium">Code postal</th>
                        <td class="py-3 px-6">{{ user.postalCode }}</td>
                    </tr>
                    <tr>
                        <th class="py-3 px-6 text-left bg-gray-50 font-medium">Ville</th>
                        <td class="py-3 px-6">{{ user.city }}</td>
                    </tr>
                </tbody>
            </table>
            
            <div class="flex justify-center items-center mt-6">
                <a href="{{ path('app_user_index') }}" class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-6 py-3 text-center">
                    Retour à la liste
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}